{% extends "musiques/baseMusique.html" %}
{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Etes-vous sure de bien vouloir supprimer cette musique : "{{ object }}"?</p>
    <input type="submit" class="btn btn-success" value="Confirmer" />
</form>

{% endblock content %}
