{% extends "musiques/baseMusique.html" %}
{% block content %}
<div id="table" class="table-editable">
    <a href="{% url 'musiques:artiste_ajout'%}"><span class="table-add glyphicon glyphicon-plus" ></span></a>
    <table class="table">
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th></th>
      </tr>
      {% for a  in Artiste  %}
      <tr>
          <td><a href="{% url 'musiques:artiste_detail' a.id %}" >{{ a.nom }}</a></td>
          <td>{{ a.prenom }}</td>
          <td>{{ a.date_naiss }}</td>
          <td><a href="{% url 'musiques:artiste_delete' a.id %}" id='{{a.nom}}-delete'><span class="table-remove glyphicon glyphicon-remove"></a></td>
      </tr>
        {% empty %}
          <td>Pas de morceau</td>
        {% endfor %}

    </table>
  </div>

  <!-- <button id="export-btn" class="btn btn-primary">Export Data</button>
  <p id="export"></p>
</div>
    {% for m  in Morceau  %}
        <li><a href="{% url 'musiques:morceau_detail' m.id %}">{{ m }}</a></li>
    {% empty %}
        <li>Pas de morceau</li>

    {% endfor %} -->
{% endblock content %}
