{% extends "musiques/baseMusique.html" %}
{% block content %}
<section class='detail'>
  <section id='tableau'>
    <table class="table">
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Date de naissance</th>
        <th>Discographie</th>
        <th></th>
      </tr>
      <tr>
          <td>{{ object.nom }}</td>
          <td>{{ object.prenom }}</td>
          <td>{{ object.date_naiss }}</td>
          <td>
            <ul>
              {% for morceau in object.morceau_set.all %}
              <li>{{morceau.titre}} {{morceau.date_sortie}}</li>
              {% endfor %}
            </ul>
          </td>
      </tr>
      </table >
    </section>
    <section class='buttons'>
        <a href="{% url 'musiques:artiste_update' object.id %}"><button class="btn btn-warning">Modifier</button></a>
        <a href="{% url 'musiques:artiste_delete' object.id %}"><button class="btn btn-danger">Supprimer</button></a>
        <a href="{% url 'musiques:artiste_list' %}"><button class="btn btn-primary">Liste des artistes</button></a>
      </section>

    </section>
{% endblock content %}
