<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'musiques/style.css' %}">
    <title>{% block title %}   Musiques {% endblock title %}</title>
</head>
<body>
  <header>
    <h1>Gestion de musiques</h1>
    <nav>
      <ul>
        <li><a href="{% url 'musiques:morceau_list' %}">Morceau</a></li>
        <li><a href="{% url 'musiques:artiste_list' %}">Artiste</a></li>
      </ul>
    </nav>
  </header>
    {% block header  %}    {% endblock header  %}
    {% block content %}    {% endblock content %}
    {% block footer  %}    {% endblock footer  %}

</body>
</html>
