{% extends "musiques/baseMusique.html" %}
{% block content %}

    {% for m  in Morceau  %}
        <li><a href="./update/{{ m.id }}">{{ m }}</a></li>
    {% empty %}
        <li>Pas de morceau</li>

    {% endfor %}
{% endblock content %}
