{% extends "musiques/baseMusique.html" %}
{% block content %}
<div id="table" class="table-editable">
    <a href="{% url 'musiques:morceau_ajout'%}"><span class="table-add glyphicon glyphicon-plus" ></span></a>
    <table class="table">
      <tr>
        <th>Titre</th>
        <th>Artiste</th>
        <th>Date de sortie</th>
        <th></th>
      </tr>
      {% for m  in Morceau  %}
      <tr>
          <td><a href="{% url 'musiques:morceau_detail' m.id %}" id='{{m.titre}}'>{{ m.titre }}</a></td>
          <td><a href="{% url 'musiques:artiste_detail' m.artiste.id %}">{{ m.artiste }}</a></td>
          <td>{{ m.date_sortie }}</td>
          <td><a href="{% url 'musiques:morceau_delete' m.id %}" id='{{m.titre}}-delete'><span class="table-remove glyphicon glyphicon-remove"></a></td>
      </tr>
        {% empty %}
          <td>Pas de morceau</td>
        {% endfor %}

    </table>
  </div>

  <!-- <button id="export-btn" class="btn btn-primary">Export Data</button>
  <p id="export"></p>
</div>
    {% for m  in Morceau  %}
        <li><a href="{% url 'musiques:morceau_detail' m.id %}">{{ m }}</a></li>
    {% empty %}
        <li>Pas de morceau</li>

    {% endfor %} -->
{% endblock content %}
