{% extends "musiques/baseMusique.html" %}
{% block content %}
<h2 class='titre'>Création d'un morceau</h2>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Sauvegarder" />
</form>
{% endblock content %}
