{% extends "musiques/baseMusique.html" %}
{% block content %}
<section class='detail'>
  <section id="cadre">
    <ul>
      <li><strong>TITRE :</strong> {{object.titre}}</li>
      <li><strong>ARTISTE :</strong> {{object.artiste}}</li>
      <li><strong>ALBUM :</strong> {{object.album}}</li>
      <li><strong>DATE DE SORTIE :</strong> {{object.date_sortie}}</li>
      <li><strong>GENRE :</strong> {{object.genre}}</li>
    </ul>
  </section>
  <br/>
  <section>
    <h3>Parole</h3>
    <p>{{object.parole}}</p>
  </section>
  <section class='buttons'>
    <a href="{% url 'musiques:morceau_update' object.id %}" id='{{object.titre}}-update'><button class="btn btn-warning">Modifier</button></a>
    <a href="{% url 'musiques:morceau_delete' object.id %}" id='{{object.titre}}-delete'><button class="btn btn-danger">Supprimer</button></a>
    <a href="{% url 'musiques:morceau_list' %}"><button class="btn btn-primary">Liste des musiques</button></a>

  </section>

</section>


{% endblock content %}
