body{
  margin-left: 100px;
  margin-right: 100px;

}
header{
  margin-bottom: 30px;
}

nav {
  width: 100%;
  background-color: #222;
}

nav ul {
  list-style: none;
  margin: 0; padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  border-right: 1px solid #333;

}
.detail{
  display: flex;
  flex-wrap: wrap;
}

.buttons{
margin-top: 25px;
margin-left: 30%;
width: 100%;
}

#tableau {
  width: 100%;
}

#id_parole{
  height:500px;
  width:100%;
}

.titre{
  align:center;
}

textarea { resize: none; }

input, textarea {
  box-sizing: border-box;

  width: 100%;
  padding: 10px;
  border: 2px solid #e0e0e0;
  margin-bottom: 12px;

  font-family: inherit;

  background-color: #e0e0e0;
  transition: background-color .4s;

  outline: 0;
  border-radius: 5px;

  &:focus {
    background-color: white;
  }
}
#cadre {
  margin-top: 25px;
  margin-bottom: 25px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  width: 100%;
}

.table-editable {
  position: relative;

  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}


.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}

.btn-success{
  width:200px;
  margin-left: 40%;
  margin-bottom: 100px;
}

#cadre>ul>li{
  margin-top: 5px;
  margin-bottom: 10px;
}
